<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Authorize the application | OAuth 2.0 Bin</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://bootswatch.com/4/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/static/styles.css">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <a href="#" class="navbar-brand">OAuth 2.0 Bin</a>
    </nav>

    <div class="vertical-center">
        <div class="text-center container col-md-4">
            <i class="fa fa-rocket mb-5 text-primary" style="font-size: 10em"></i>
            <h1>The application would like to</h1>
            <div class="p-3 rounded">
                <ul class="list-group">
                    {{ range .ScopeList }}
                    <li class="list-group-item bg-secondary text-left">{{ . }}</li>
                    {{ end }}
                </ul>
            </div>
            <hr>
            <div class="text-center">
                <p class="text-muted">By clicking 'Accept', you agree that you are awesome.</p>
                <button class="btn btn-dark" id="cancelBtn" type="submit">CANCEL</button>
                <button class="btn btn-primary" id="acceptBtn" type="submit">ACCEPT</button>
            </div>
        </div>
    </div>
    <script src="/public/static/auth_grant.js"></script>
</body>

</html>